<!DOCTYPE html>
<html lang="id">

<head>
	<%- include('../../partial/google-analytic.ejs')%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="https://cdn.dazelpro.com/uploads/dazelinv/favico.ico">
    <title>Padang Invitation | Katalog Undangan Fisik</title>
    <meta name="theme-color" content="#F8407D">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Temukan katalog kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya" />
    <meta name="keywords" content="undangan terdekat, undangan murah terdekat, undangan estetik terdekat, undangan padang, Undangan Digital Termurah, dazelinv, dazelpro, dazel invitation, dazel, dazelinvitation, undangan online, undangan digital, undangan murah, undangan pernikahan murah" />
    <meta name="author" content="dazelpro" />

    <!-- SEO -->
	<meta name="robots" content="index, follow">
	<link rel="canonical" href="https://padanginvitation.com/catalog">
	
	<meta property="og:locale" content="id_ID">
    <meta property="og:title" content="Padang Invitation | Website undangan digital dan fisik terbaik se-Indonesia" />
    <meta property="og:image" content="https://cdn.dazelpro.com/uploads/dazelinv/banner.webp" />
    <meta property="og:url" content="<%= THIS %>" />
    <meta property="og:site_name" content="dazelinv" />
    <meta property="og:description" content="Temukan katalog kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya" />

    <meta name="twitter:title" content="Padang Invitation | Website undangan digital dan fisik terbaik se-Indonesia" />
    <meta name="twitter:image" content="https://cdn.dazelpro.com/uploads/dazelinv/banner.webp" />
    <meta name="twitter:url" content="<%= THIS %>" />
	<meta name="twitter:description" content="Temukan katalog kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya">
    <meta name="twitter:card" content="Temukan katalog kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya" />
    <!-- END -->

    <!-- Bootstrap core CSS -->
    <link href="<%= THIS %>/static/assets/site/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="<%= THIS %>/static/assets/site/css/templatemo-style.css">
    <link rel="stylesheet" href="<%= THIS %>/static/assets/site/css/owl.css">
	<link rel="stylesheet" href="<%= THIS %>/static/assets/site/css/style.css">

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <%- include('../../partial/header.ejs') %>
    <!-- ***** Header Area End ***** -->

    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 header-text">
                    <div>
                        <h4 data-aos="fade-right" class="title-secondary font-secondary">Temukan yang kamu suka</h4>
                        <h1 data-aos="fade-right" class="title-primary">Katalog Fisik</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<section class="container">
        <table class="catalog-table">
            <tbody>                
                <tr data-aos="fade-up">
                    <td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/songket.png" loading="lazy" alt="" class="viewer-image">
					</td>
                    <td>Undangan Motif Songket Elegan</td>
                    <td>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 80.000 / 100pcs</span>
					</td>
                    <td>
						<a href="#"
						data-model="Undangan Motif Songket Elegan"
						class="btn-demo btn-whatsapp">
						Order</a>
					</td>
                </tr>
                <tr data-aos="fade-up">
                    <td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/GS-000.jpg" loading="lazy" alt="" class="viewer-image">
					</td>
                    <td>Undangan Aestetik Kekinian GS-000</td>
                    <td>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 115.000 / 100pcs</span>
					</td>
                    <td>
						<a href="#"
						data-model="Undangan Aestetik Kekinian GS-000"
						class="btn-demo btn-whatsapp">
						Order</a>
					</td>
                </tr>
                <tr data-aos="fade-up">
                    <td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/GS-001.jpg" loading="lazy" alt="" class="viewer-image">
					</td>
                    <td>Undangan Aestetik Elegan GS-001</td>
                    <td>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 115.000 / 100pcs</span>
					</td>
                    <td>
						<a href="#"
						data-model="Undangan Aestetik Elegan GS-001"
						class="btn-demo btn-whatsapp">
						Order</a>
					</td>
                </tr>
                <tr data-aos="fade-up">
                    <td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/GS-002.jpg" loading="lazy" alt="" class="viewer-image">
					</td>
                    <td>Undangan Aestetik Elegan GS-002</td>
                    <td>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 130.000 / 100pcs</span>
					</td>
                    <td>
						<a href="#"
						data-model="Undangan Aestetik Elegan GS-002"
						class="btn-demo btn-whatsapp">
						Order</a>
					</td>
                </tr>
                <tr data-aos="fade-up">
                    <td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/GS-003.jpeg" loading="lazy" alt="" class="viewer-image">
					</td>
                    <td>Undangan Aestetik Elegan GS-003</td>
                    <td>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 140.000 / 100pcs</span>
					</td>
                    <td>
						<a href="#"
						data-model="Undangan Aestetik Elegan GS-003"
						class="btn-demo btn-whatsapp">
						Order</a>
					</td>
                </tr>
                <tr data-aos="fade-up">
                    <td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/GS-004.jpg" loading="lazy" alt="" class="viewer-image">
					</td>
                    <td>Undangan Aestetik Elegan GS-004</td>
                    <td>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 140.000 / 100pcs</span>
					</td>
                    <td>
						<a href="#"
						data-model="Undangan Aestetik Elegan GS-004"
						class="btn-demo btn-whatsapp">
						Order</a>
					</td>
                </tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/GS-008.jpeg" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Undangan GS08</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 135.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS08"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/GS-009.jpeg" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Undangan Amplop Minimalis GS09</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 210.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Undangan Amplop Minimalis GS09"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/GS-010.jpeg" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Undangan Amplop Elegan GS10</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 210.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Undangan Amplop Elegan GS10"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs-11.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Griya Silver Edisi 3 GS11</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 115.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS11"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs-12.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Griya Silver Edisi 3 GS12</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 115.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS12"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs-13.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Griya Silver Edisi 3 GS13</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 120.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS13"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs-14.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Griya Silver Edisi 3 GS14</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 130.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS14"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs-15.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Griya Silver Edisi 3 GS15</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 130.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS15"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs16.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Griya Silver Edisi 3 GS16</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 135.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS16"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs17.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Griya Silver Edisi 3 GS17</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 135.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS17"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs18.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Griya Silver Edisi 3 GS18</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 135.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS18"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs19.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Griya Silver Edisi 3 GS19</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 135.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS19"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs20.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Griya Silver Edisi 3 GS20</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 140.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Griya Silver Edisi 3 GS20"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>
				<tr data-aos="fade-up">
					<td>
						<img src="<%= THIS %>/static/assets/site/images/catalog/gs21.webp" loading="lazy" alt="" class="viewer-image">
					</td>
					<td>Undangan Model Kekinian Terbaru GS21</td>
					<td>
						<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 145.000 / 100pcs</span>
					</td>
					<td>
						<a href="#"
						   data-model="Undangan Model Kekinian Terbaru GS21"
						   class="btn-demo btn-whatsapp">
						   Order
						</a>
					</td>
				</tr>				
            </tbody>
        </table>
    </section>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.js"></script>

	<style>
        .title-primary {
            font-size: 60px;
            font-weight: bold;
            color: #333;
            margin-top: 20px;
        }

        .catalog-table {
            width: 100%;
            border-collapse: collapse;
        }

        .catalog-table th,
        .catalog-table td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .catalog-table tr:hover {
            background-color: #f9f9f9;
        }

        .order-btn {
            background-color: #F8407D;
            color: #fff;
            border-radius: 20px;
            padding: 5px 15px;
            text-decoration: none;
            display: inline-block;
            text-align: center;
        }

        .catalog-table img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        @media (max-width: 768px) {
            .catalog-table {
                border: none;
            }

            .catalog-table thead {
                display: none;
            }

            .catalog-table tr {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 15px;
                border-bottom: 1px solid #ddd;
            }

            .catalog-table td {
                width: 100%;
                text-align: center;
                padding: 10px 0;
                border: none;
            }

            .catalog-table img {
                width: 120px;
                height: 120px;
                margin-bottom: 10px;
            }

            .order-btn {
                width: 80%;
                padding: 10px;
                font-size: 16px;
            }
        }
    </style>
    
    <%- include('../../partial/footer.ejs') %>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.js"></script>

    <!-- Scripts -->
    <script src="<%= THIS %>/static/assets/site/jquery/jquery.min.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/isotope.min.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/owl-carousel.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/custom.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/viewer.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
	<script>
        document.addEventListener('DOMContentLoaded', function() {
            const whatsappButtons = document.querySelectorAll('.btn-whatsapp');
            const phoneNumber = '6283181887801'; // Your WhatsApp number

            whatsappButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
					let message = "";
                    const model = button.getAttribute('data-model');
					if(model) {
						message = `Halo, saya tertarik dengan model ${model}`;
					} else {
						message = `Halo, saya mau tanya-tanya dulu seputar undangan pernikahan`;
					}
                    const whatsappURL = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;
                    window.open(whatsappURL, '_blank');
                });
            });
        });
    </script>
</body>

</html>