<section class="product">
	<div class="container">
		<div class="row"
			id="imageKu">
			<div class="col-lg-12">
				<div class="section-heading">
					<h6 data-aos="fade-right">Katalog</h6>
					<h4 data-aos="fade-right">Undangan <em>Fisik</em></h4>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-000.jpg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS00</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.150 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS00"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-001.jpg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS01</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.300 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS01"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-002.jpg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS02</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.300 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS02"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-003.jpeg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS03</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.600</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.400 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS03"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-004.jpg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS04</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.600</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.400 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS04"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-005.jpeg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS05</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.350 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS05"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-006.jpeg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS06</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.350 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS06"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-007.jpeg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS07</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.600</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.400 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS07"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-008.jpeg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS08</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.350 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS08"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-009.jpeg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS09</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 2.400</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 2.100 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS09"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/GS-010.jpeg"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS10</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 2.400</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 2.100 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS10"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs-11.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS11</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.300</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.150 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS11"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs-12.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS12</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.300</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.150 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS12"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs-13.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS13</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.350</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.200 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS13"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs-14.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS14</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.300 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS14"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs-15.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS15</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.300 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS15"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs16.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS16</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.350 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS16"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs17.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS17</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.350 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS17"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs18.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS18</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.350 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS18"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs19.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS19</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.350 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS19"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs20.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS20</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.600</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.400 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS20"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3">
				<div class="card-undangan-fisik"
					data-aos="zoom-in-up">
					<img src="<%= THIS %>/static/assets/site/images/catalog/gs21.webp"
						alt="" loading="lazy"width="240" height="240"
						class="viewer-image">
					<div class="title">Griya Silver Edisi 3 GS21</div>
					<div class="pricing mb-2">
						<span class="text-muted fs-7"
							style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.650</span>
						<span class="text-pink fw-bold d-block"
							style="font-size: 1.2em;">Rp. 1.450 / pcs</span>
					</div>
					<a href="#"
						data-model="Griya Silver Edisi 3 GS21"
						class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart"
							style="margin-right: 2px;"></i>
						Order</a>
				</div>
			</div>
		</div>
	</div>
</section>
