<!DOCTYPE html>
<html lang="id">

<head>
	<%- include('partial/google-analytic.ejs')%>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge">
	<link rel="icon"
		type="image/x-icon"
		href="https://cdn.dazelpro.com/uploads/dazelinv/favico.ico">
	<title>Padang Invitation | Blog</title>
	<meta name="theme-color"
		content="#F8407D">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description"
		content="Dapatkan ide & inspirasi seputar pernikahan, kisah, tips, referensi tentang pernikahan dan undangan." />
	<meta name="keywords"
		content="Undangan Digital Termurah, dazelinv, dazelpro, dazel invitation, dazel, dazelinvitation, undangan online, undangan digital, undangan murah, undangan pernikahan murah" />
	<meta name="author"
		content="dazelpro" />

	<!-- SEO -->
	<meta name="robots"
		content="index, follow">
	<link rel="canonical"
		href="https://padanginvitation.com/blog">

	<meta property="og:locale"
		content="id_ID">
	<meta property="og:title"
		content="Padang Invitation | Website undangan digital dan fisik terbaik se-Indonesia" />
	<meta property="og:image"
		content="https://cdn.dazelpro.com/uploads/dazelinv/banner.webp" />
	<meta property="og:url"
		content="<%= THIS %>" />
	<meta property="og:site_name"
		content="dazelinv" />
	<meta property="og:description"
		content="Dapatkan ide & inspirasi seputar pernikahan, kisah, tips, referensi tentang pernikahan dan undangan." />

	<meta name="twitter:title"
		content="Padang Invitation | Website undangan digital dan fisik terbaik se-Indonesia" />
	<meta name="twitter:image"
		content="https://cdn.dazelpro.com/uploads/dazelinv/banner.webp" />
	<meta name="twitter:url"
		content="<%= THIS %>" />
	<meta name="twitter:description"
		content="Dapatkan ide & inspirasi seputar pernikahan, kisah, tips, referensi tentang pernikahan dan undangan.">
	<meta name="twitter:card"
		content="Dapatkan ide & inspirasi seputar pernikahan, kisah, tips, referensi tentang pernikahan dan undangan." />
	<!-- END -->

	<!-- Bootstrap core CSS -->
	<link href="<%= THIS %>/static/assets/site/bootstrap/css/bootstrap.min.css"
		rel="stylesheet">
	<!-- Additional CSS Files -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet"
		href="<%= THIS %>/static/assets/site/css/templatemo-style.css">
	<link rel="stylesheet"
		href="<%= THIS %>/static/assets/site/css/owl.css">
	<link rel="stylesheet"
		href="<%= THIS %>/static/assets/site/css/style.css">

</head>

<body>
	<!-- ***** Header Area Start ***** -->
	<%- include('partial/header.ejs')
		%>
		<!-- ***** Header Area End ***** -->

		<section class="page-heading">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 header-text">
						<div style="max-width: 400px; margin: auto;">
							<h1 data-aos="fade-right"
								class="title-primary font-secondary">Blog</h1>
							<h4 data-aos="fade-right"
								class="title-secondary mt-3">Dapatkan ide & inspirasi seputar pernikahan, kisah, tips,
								referensi tentang pernikahan dan undangan.</h4>
						</div>
					</div>
				</div>
		</section>


		<section>
			<div class="container">
				<div class="row">
					<div class="col-12"
						data-aos="zoom-in-up">
						<div class="card mb-5 border-0">
							<div class="row g-3">
								<div class="col-md-4">
									<div class="article-image h-100">
										<img src="<%= THIS %>/static/assets/img/blog/lagu-pilihan-undangan-digital-terpopuler.png"
											class="img-fluid rounded-3"
											alt="Article Image">
									</div>
								</div>
								<div class="col-md-8 d-flex align-items-center">
									<div class="card-body">
										<p class="mb-2">12 November 2024 • 3 min read</p>
										<h3 class="card-title">
											<a href="<%= THIS %>/blog/rekomendasi-lagu-undangan-digital-pernikahan-menyentuh"
												class="text-decoration-none fw-bold text-pink">Dari Hati ke Hati: 10
												Lagu Pilihan untuk Undangan Digital yang Menyentuh</a>
										</h3>
										<p class="card-text text-muted">Momen pernikahan adalah salah satu babak paling
											indah dalam hidup. Setiap detail, dari gaun pengantin, undangan, hingga
											dekorasi, dipilih dengan hati-hati. Namun, tahukah Kamu bahwa musik juga
											memiliki peran yang sangat penting dalam menciptakan suasana yang tak
											terlupakan?</p>
										<a href="<%= THIS %>/blog/rekomendasi-lagu-undangan-digital-pernikahan-menyentuh"
											class="btn-demo mt-2">Baca Selengkapnya</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-3"
						data-aos="zoom-in-up">
						<div class="card mb-3 border-0">
							<div class="row g-0">
								<div class="article-image h-100">
									<img src="<%= THIS %>/static/assets/img/blog/pernikahan-low-budged.png"
										class="img-fluid rounded-3"
										alt="Article Image">
								</div>
								<div class="card-body">
									<p class="mb-2 fs-8">26 November 2024 • 4 min read</p>
									<h6 class="card-title">
										<a href="<%= THIS %>/blog/merancang-pernikahan-low-budged"
											class="text-decoration-none fw-bold text-pink">Merancang Pernikahan Low Budget versi Padang Invitation</a>
									</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-3"
						data-aos="zoom-in-up">
						<div class="card mb-3 border-0">
							<div class="row g-0">
								<div class="article-image h-100">
									<img src="<%= THIS %>/static/assets/img/blog/mengirim-undangan-dengan-sopan-dan-efektif.png"
										class="img-fluid rounded-3"
										alt="Article Image">
								</div>
								<div class="card-body">
									<p class="mb-2 fs-8">13 November 2024 • 3 min read</p>
									<h6 class="card-title">
										<a href="<%= THIS %>/blog/cara-mengirim-undangan-digital-dengan-sopan"
											class="text-decoration-none fw-bold text-pink">Cara Mengirim Undangan Digital dengan Sopan dan Efektif</a>
									</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-3"
						data-aos="zoom-in-up">
						<div class="card mb-3 border-0">
							<div class="row g-0">
								<div class="article-image h-100">
									<img src="<%= THIS %>/static/assets/img/blog/rekomendasi-warna-undangan-digital-sempurna.png"
										class="img-fluid rounded-3"
										alt="Article Image">
								</div>
								<div class="card-body">
									<p class="mb-2 fs-8">12 November 2024 • 4 min read</p>
									<h6 class="card-title">
										<a href="<%= THIS %>/blog/warna-undangan-digital-yang-sempurna-beserta-kode-warna"
											class="text-decoration-none fw-bold text-pink">Kombinasi Warna Undangan Digital yang Sempurna beserta Kode Warna</a>
									</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-3"
						data-aos="zoom-in-up">
						<div class="card mb-3 border-0">
							<div class="row g-0">
								<div class="article-image h-100">
									<img src="<%= THIS %>/static/assets/img/blog/lagu-pilihan-undangan-digital-terpopuler.png"
										class="img-fluid rounded-3"
										alt="Article Image">
								</div>
								<div class="card-body">
									<p class="mb-2 fs-8">12 November 2024 • 3 min read</p>
									<h6 class="card-title">
										<a href=""
											class="text-decoration-none fw-bold text-pink">Dari Hati ke Hati: 10 Lagu
											Pilihan untuk Undangan Digital yang Menyentuh</a>
									</h6>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<%- include('partial/footer.ejs')
			%>

			<!-- Scripts -->
			<script src="<%= THIS %>/static/assets/site/jquery/jquery.min.js"></script>
			<script src="<%= THIS %>/static/assets/site/js/isotope.min.js"></script>
			<script src="<%= THIS %>/static/assets/site/js/owl-carousel.js"></script>
			<script src="<%= THIS %>/static/assets/site/js/custom.js"></script>
			<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
			<script>
				AOS.init();
			</script>
</body>

</html>
