<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="https://cdn.dazelpro.com/uploads/dazelinv/favico.ico">
    <title>Padang Invitation | Katalog</title>
    <meta name="theme-color" content="#F8407D">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Temukan katalog kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya" />
    <meta name="keywords" content="Undangan Digital Termurah, dazelinv, dazelpro, dazel invitation, dazel, dazelinvitation, undangan online, undangan digital, undangan murah, undangan pernikahan murah" />
    <meta name="author" content="dazelpro" />

    <!-- SEO -->
	<meta name="robots" content="index, follow">
	<link rel="canonical" href="https://padanginvitation.com/catalog">
	
	<meta property="og:locale" content="id_ID">
    <meta property="og:title" content="Padang Invitation | Website undangan digital dan fisik terbaik se-Indonesia" />
    <meta property="og:image" content="https://cdn.dazelpro.com/uploads/dazelinv/banner.webp" />
    <meta property="og:url" content="<%= THIS %>" />
    <meta property="og:site_name" content="dazelinv" />
    <meta property="og:description" content="Temukan katalog kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya" />

    <meta name="twitter:title" content="Padang Invitation | Website undangan digital dan fisik terbaik se-Indonesia" />
    <meta name="twitter:image" content="https://cdn.dazelpro.com/uploads/dazelinv/banner.webp" />
    <meta name="twitter:url" content="<%= THIS %>" />
	<meta name="twitter:description" content="Temukan katalog kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya">
    <meta name="twitter:card" content="Temukan katalog kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya" />
    <!-- END -->

    <!-- Bootstrap core CSS -->
    <link href="<%= THIS %>/static/assets/site/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="<%= THIS %>/static/assets/site/css/templatemo-style.css">
    <link rel="stylesheet" href="<%= THIS %>/static/assets/site/css/owl.css">
	<link rel="stylesheet" href="<%= THIS %>/static/assets/site/css/style.css">

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <%- include('partial/header.ejs') %>
    <!-- ***** Header Area End ***** -->

    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 header-text">
                    <div>
                        <h4 data-aos="fade-right" class="title-secondary font-secondary">Temukan yang kamu suka</h4>
                        <h1 data-aos="fade-right" class="title-primary">Katalog</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-down">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>

	<section class="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6 data-aos="fade-right">Katalog</h6>
                        <h4 data-aos="fade-right">Undangan <em>Digital</em></h4>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/odas-peach.png" alt="">
                        <div class="title">Odas Peach</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 70.000</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 49.000</span>
						</div>
                        <a href="#" data-model="Odas Peach" class="btn-demo btn-whatsapp">
							<i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							<span class="d-none d-lg-inline">Order</span>
						</a>
                        <a href="/demo/odas-peach" target="_blank" class="btn-demo">
							<i class="fa fa-eye" style="margin-right: 2px;"></i>
							<span class="d-none d-lg-inline">Demo</span>
						</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/odas-pink.png" alt="">
                        <div class="title">Odas Pink</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 70.000</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 49.000</span>
						</div>
						<a href="#" data-model="Odas Pink" class="btn-demo btn-whatsapp">
							<i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							<span class="d-none d-lg-inline">Order</span>
						</a>
                        <a href="/demo/odas-pink" target="_blank" class="btn-demo">
							<i class="fa fa-eye" style="margin-right: 2px;"></i>
							<span class="d-none d-lg-inline">Demo</span>
						</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/odas-ocean.png" alt="">
                        <div class="title">Odas Ocean</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 70.000</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 49.000</span>
						</div>
						<a href="#" data-model="Odas Ocean" class="btn-demo btn-whatsapp">
							<i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							<span class="d-none d-lg-inline">Order</span>
						</a>
                        <a href="/demo/odas-ocean" target="_blank" class="btn-demo">
							<i class="fa fa-eye" style="margin-right: 2px;"></i>
							<span class="d-none d-lg-inline">Demo</span>
						</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/odas-greentea.png" alt="">
                        <div class="title">Odas Greentea</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 70.000</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 49.000</span>
						</div>
						<a href="#" data-model="Odas Greentea" class="btn-demo btn-whatsapp">
							<i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							<span class="d-none d-lg-inline">Order</span>
						</a>
                        <a href="/demo/odas-greentea" target="_blank" class="btn-demo">
							<i class="fa fa-eye" style="margin-right: 2px;"></i>
							<span class="d-none d-lg-inline">Demo</span>
						</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6 data-aos="fade-right">Katalog</h6>
                        <h4 data-aos="fade-right">Undangan <em>Fisik</em></h4>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-000.jpg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS00</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 1.150 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS00" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-001.jpg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS01</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 1.300 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS01" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-002.jpg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS02</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 1.300 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS02" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-003.jpeg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS03</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.600</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 1.400 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS03" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-004.jpg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS04</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.600</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 1.400 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS04" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-005.jpeg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS05</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 1.350 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS05" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-006.jpeg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS06</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 1.350 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS06" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-007.jpeg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS07</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.600</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 1.400 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS07" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-008.jpeg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS08</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 1.500</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 1.350 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS08" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-009.jpeg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS09</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 2.400</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 2.100 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS09" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card-undangan-fisik" data-aos="zoom-in-up">
                        <img src="<%= THIS %>/static/assets/site/images/catalog/GS-010.jpeg" alt="" class="viewer-image">
                        <div class="title">Griya Silver Edisi 3 GS10</div>
						<div class="pricing mb-2">
							<span class="text-muted fs-7" style="text-decoration: line-through; font-size: 0.9em;">Rp. 2.400</span>
							<span class="text-pink fw-bold d-block" style="font-size: 1.2em;">Rp. 2.100 / pcs</span>
						</div>
                        <a href="#" data-model="Griya Silver Edisi 3 GS10" class="btn-demo btn-whatsapp"><i class="fa fa-shopping-cart" style="margin-right: 2px;"></i>
							Order</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.js"></script>

    <style>
		.title-secondary {
            font-size: 17px;
            text-transform: capitalize;
            color: #7a7a7a;
        }

        .title-primary {
            font-size: 62px;
            font-weight: 900;
            color: #111;
            margin-top: 10px;
        }

		.page-heading {
            position: relative;
            text-align: center;
            padding-bottom: 100px;
        }

        .scroll-down {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .scroll-down span {
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 2px solid #000;
            border-right: 2px solid #000;
            transform: rotate(45deg);
            margin: -10px;
            animation: scroll 1.5s infinite;
        }

        .scroll-down span:nth-child(2) {
            animation-delay: 0.3s;
        }

        .scroll-down span:nth-child(3) {
            animation-delay: 0.6s;
        }

        @keyframes scroll {
            0% {
                opacity: 0;
                transform: rotate(45deg) translate(-20px, -20px);
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                transform: rotate(45deg) translate(20px, 20px);
            }
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const whatsappButtons = document.querySelectorAll('.btn-whatsapp');
            const phoneNumber = '6283181887801'; // Your WhatsApp number

            whatsappButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
					let message = "";
                    const model = button.getAttribute('data-model');
					if(model) {
						message = `Halo, saya tertarik dengan model ${model}`;
					} else {
						message = `Halo, saya mau tanya-tanya dulu seputar undangan pernikahan`;
					}
                    const whatsappURL = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;
                    window.open(whatsappURL, '_blank');
                });
            });
        });
    </script>

    <%- include('partial/footer.ejs') %>

    <!-- Scripts -->
    <script src="<%= THIS %>/static/assets/site/jquery/jquery.min.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/isotope.min.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/owl-carousel.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/custom.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/viewer.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>