<!DOCTYPE html>
<html lang="id">

<head>
	<%- include('partial/google-analytic.ejs')%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="https://cdn.dazelpro.com/uploads/dazelinv/favico.ico">
    <title>Padang Invitation | Tempat undangan Fisik dan Digital termurah</title>
	<meta name="theme-color" content="#F8407D">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Dapatkan kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya" />
    <meta name="keywords" content="undangan padang, Undangan Digital Termurah, undangan web, undangan website, undangan padang, undangan pernikahan, undangan pernikahan padang, undangan khitanan padang, undangan sumbar, undangan murah padang, undangan murah sumbar, undangan ulang tahun padang, undangan custom padang, undangan kekinian padang, undangan akikah padang, undangan akikah, undangan aqiqah, undangan aqiqah padang, undangan padang, undangan terdekat, padang invitation, dazelpro, dazel invitation, dazel, dazelinvitation, undangan online, undangan digital, undangan murah, undangan pernikahan murah" />
    <meta name="author" content="dazelpro" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- SEO -->
	<meta name="robots" content="index, follow">
	<link rel="canonical" href="https://padanginvitation.com/">
	
	<meta property="og:locale" content="id_ID">
    <meta property="og:title" content="Padang Invitation | Tempat undangan digital dan fisik terbaik se-Indonesia" />
    <meta property="og:image" content="https://cdn.dazelpro.com/uploads/dazelinv/banner.webp" />
    <meta property="og:url" content="<%= THIS %>" />
    <meta property="og:site_name" content="dazelinv" />
    <meta property="og:description" content="Dapatkan kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya" />

    <meta name="twitter:title" content="Padang Invitation | Tempat undangan digital dan fisik terbaik se-Indonesia" />
    <meta name="twitter:image" content="https://cdn.dazelpro.com/uploads/dazelinv/banner.webp" />
	<meta name="twitter:description" content="Dapatkan kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya">
    <meta name="twitter:url" content="<%= THIS %>" />
    <meta name="twitter:card" content="Dapatkan kombinasi undangan digital dan fisik terbaik se-Indonesia. Elegan ditangan, aman didunia maya" />
    <!-- END -->

    <!-- Bootstrap core CSS -->
    <link href="<%= THIS %>/static/assets/site/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="<%= THIS %>/static/assets/site/css/templatemo-style.css">
    <link rel="stylesheet" href="<%= THIS %>/static/assets/site/css/owl.css">
    <link rel="stylesheet" href="<%= THIS %>/static/assets/site/css/style.css">

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <%- include('partial/header.ejs') %>
    <!-- ***** Header Area End ***** -->

    <section class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="header-text">
                        <h6 data-aos="zoom-in-right" class="font-secondary">Elegan ditangan, aman di dunia maya.</h6>
                        <h2 data-aos="zoom-in-right">pdg<em class="d-block d-md-inline-block">i<span id="typing-effect"></span></em></h2>
                        <div class="main-button-gradient">
							<div class="" data-aos="flip-up">
								<a href="/catalog">Katalog</a>
								<a href="https://wa.me/6283181887801"><i class="fa-brands fa-whatsapp" style="margin-right: 10px;"></i>Konsultasi</a>
							</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-image" data-aos="zoom-out">
                        <img src="<%= THIS %>/static/assets/site/images/hero.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services" id="services">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Undangan Online</h6>
                        <h4>Fitur & Layanan Yang Kami <em>Berikan</em></h4>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="owl-service-item owl-carousel">
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/1.png" alt="">
                                </div>
                                <h4>Layanan 24-jam</h4>
                                <p class="font-secondary">Kami menjamin life-time server 24-jam tanpa mati.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/2.png" alt="">
                                </div>
                                <h4>Masa Aktif</h4>
                                <p class="font-secondary">Undangan online kamu akan aktif selama 3 bulan dihitung sejak tanggal acara.
                                </p>
                            </div>
                        </div>
                        <!-- <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/3.png" alt="">
                                </div>
                                <h4>Teknologi</h4>
                                <p class="font-secondary">Menggunakan teknologi terbaru sehingga dapat menjaga kecepatan akses dan keamanan
                                    data.</p>
                            </div>
                        </div> -->
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/4.png" alt="">
                                </div>
                                <h4>Custom Tamu</h4>
                                <p class="font-secondary">Tersedia fitur untuk manajemen Buku Tamu.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/5.png" alt="">
                                </div>
                                <h4>Love Story</h4>
                                <p class="font-secondary">Ceritakan perjalanan cintamu dan tampilkan kepada tamu.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/6.png" alt="">
                                </div>
                                <h4>Musik</h4>
                                <p class="font-secondary">Kamu bisa juga request musik yang ingin dipakai.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/7.png" alt="">
                                </div>
                                <h4>Hadiah & Kado</h4>
                                <p class="font-secondary">Tampilkan nomor rekening pengiriman kado atau alamat pengiriman kado.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/8.png" alt="">
                                </div>
                                <h4>Countdown Timer</h4>
                                <p class="font-secondary">Tersedia fitur hitung mundur sebagai pengingat waktu acara.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/9.png" alt="">
                                </div>
                                <h4>Ucapan & Do'a</h4>
                                <p class="font-secondary">Tersedia fitur untuk manajemen ucapan dan doa yang dikirim oleh tamu.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/10.png" alt="">
                                </div>
                                <h4>Reservasi</h4>
                                <p class="font-secondary">Tersedia fitur reservasi untuk tamu malakukan konfirmasi akan datang pada hari
                                    acara.</p>
                            </div>
                        </div>
                        <!-- <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/11.png" alt="">
                                </div>
                                <h4>Custom Share</h4>
                                <p class="font-secondary">Bebas custom text untuk di tampilkan pada saat undangan dikirim ke tamu.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/12.png" alt="">
                                </div>
                                <h4>Galery</h4>
                                <p class="font-secondary">Tersedia fitur upload foto pre-wedding untuk di pajang di undangan.</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

	<section class="simple-cta">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 offset-lg-1">
					<div class="left-image" data-aos="zoom-out">
						<img src="<%= THIS %>/static/assets/site/images/fitur-unggulan.png" alt="">
					</div>
				</div>
				<div class="col-lg-5 align-self-center">
					<!-- <h6 data-aos="zoom-in-right" class="font-secondary">Tema Terbaru</h6> -->
					<h4 data-aos="zoom-in-right">Manajemen</h4>
					<p data-aos="zoom-in-right">Padang Invitation menghadirkan fitur unggulan berupa halaman khusus bagi setiap undangan, memungkinkan Kamu untuk mengelola dan memantau undangan secara mandiri. Di halaman ini, kamu dapat dengan mudah mengelola buku tamu, meninjau ucapan dan doa, serta memantau RSVP, memastikan setiap detail undangan tersaji dengan sempurna.</p>
					<div class="white-button" data-aos="flip-up">
						<a target="_blank" href="https://wa.me/6283181887801">Order Sekarang</a>
					</div>
				</div>
			</div>
		</div>
	</section>	

	<section class="services" id="services">
		<div class="container">
			<div class="row pt-5" data-aos="fade-up">
				<div class="col-lg-12">
					<div class="section-heading">
						<h4>Undangan Digital <em>Populer</em></h4>
					</div>
				</div>
				<div class="col-lg-12">
					<%- include('partial/digital-popular.ejs') %>
				</div>
			</div>
		</div>
	</section>

	
	<section class="promo d-flex justify-content-center gap-2 align-items-center">
		<div>
			Promo spesial '<b>NIKAH AWAL TAHUN</b>' Diskon <b>10%</b>
		</div>
		<div>
			<a href="https://wa.me/6283181887801?text=Halo, saya mau ngambil promo NIKAH AWAL TAHUN" class="btn-promo"><i class="fa fa-hand-o-right"></i> Ambil promo</a>
		</div>
	</section>

	<section class="services" id="services">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Undangan Fisik</h6>
                        <h4>Fitur & Layanan Yang Kami <em>Berikan</em></h4>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="owl-service-item owl-carousel">
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/1.png" alt="">
                                </div>
                                <h4>Admin 24-jam</h4>
                                <p class="font-secondary">Admin kami menyediakan layanan standby 24jam.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/3.png" alt="">
                                </div>
                                <h4>Teknologi</h4>
                                <p class="font-secondary">Kami menggunakan printer percetakan khusus sehingga menghasilkan warna detail dan tajam.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/13.png" alt="">
                                </div>
                                <h4>Banyak Pilihan</h4>
                                <p class="font-secondary">Tersedia berbagai macam jenis undangan yang dapat kamu pilih di katalog.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/7.png" alt="">
                                </div>
                                <h4>Banyak Bonus</h4>
                                <p class="font-secondary">Jangan kawatir, kami menyediakan banyak bonus hanya untuk kamu.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service-item">
                                <div class="icon">
                                    <img data-aos="zoom-out" src="<%= THIS %>/static/assets/site/images/icons/14.png" alt="">
                                </div>
                                <h4>Gambar Peta</h4>
                                <p class="font-secondary">Kamu tinggal coret di kertas lalu foto, kami akan desainkan gambar peta nya untuk kamu.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partial/new-product.ejs') %>

	<section class="services" id="services">
        <div class="container">
            <div class="row" data-aos="fade-down">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Q&A</h6>
                        <h4>Paling sering <em>Ditanyakan</em></h4>
                    </div>
                </div>
                <div class="col-lg-12" data-aos="fade-up">
                    <div class="accordion" style="max-width: 700px; margin: 0 auto" id="accordionExample">
						<div class="accordion-item">
						  	<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
							  		Layanan apakah ini?
								</button>
						  	</h2>
						  	<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
								<div class="accordion-body">
							  		<strong>Padang Invitation</strong> merupakan platform digital yang menyediakan jasa pembuatan Undangan Pernikahan, Undangan Ulang Tahun, Undangan Khitan, dan Undangan Aqiqah baik dalam bentuk Digital maupun Fisik. 
								</div>
						  	</div>
						</div>
						<div class="accordion-item">
						  	<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Apa bedanya undangan Fisik dan undangan Digital?
								</button>
						  	</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<strong>Undangan Fisik</strong> merupakan undangan yang dicetak dan dapat kamu bagikan kepada tamu undangan secara langsung. Sedangkan <strong>Undangan Digital</strong> merupakan undangan berbentuk website yang di akses melalui sebuah link, undangan ini dapat kamu bagikan kepada tamu undangan melalui pesan Whatsapp, Facebook, Instagram dan sosial media lainnya.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Bagaimana cara order undangan Fisik?
								</button>
							</h2>
							<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<ul>
										<li>Pilih jenis undangan yang kamu suka di halaman <a href="/catalog">Katalog</a>.</li>
										<li>Perbesar preview gambar undangannya untuk melihat detailnya.</li>
										<li>Setiap gambar undangan ada tombol "Order".</li>
										<li>Klik tombol tersebut untuk diarahkan ke WhatsApp admin kami.</li>
										<li>Setelah merasa yakin, lakukan pembayaran penuh.</li>
										<!-- <li>Jika kamu merasa kurang aman bertransaksi lewat WhatsApp, minta link Shopee kepada kami untuk transaksi yang lebih aman.</li> -->
										<li>Admin akan mengirimkan formulir yang perlu kamu isi dengan data untuk undangan sebelum dicetak.</li>
										<li>Kami akan mengirimkan preview undangan kepada kamu untuk disetujui sebelum dicetak.</li>
										<li>Jika kamu setuju dan tidak ada revisi, undangan akan segera kami cetak sesuai antrean. Lama pengerjaan 3-5 hari kerja.</li>
										<li>Pengiriman untuk wilayah Kota Padang <b>gratis</b>, dan akan diantar langsung ke alamat kamu.</li>
									</ul>									
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingFour">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								Bagaimana cara order undangan Digital?
								</button>
							</h2>
							<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<ul>
										<li>Pilih jenis undangan yang kamu suka di halaman <a href="/catalog">Katalog</a>.</li>
										<li>Klik tombol "Demo" untuk melihat preview undangannya.</li>
										<li>klik tombol "Order" jika kamu menyukai undangan tersebut.</li>
										<li>Kamu akan diarahkan ke WhatsApp admin kami.</li>
										<li>Setelah merasa yakin, lakukan pembayaran penuh.</li>
										<!-- <li>Jika kamu merasa kurang aman bertransaksi lewat WhatsApp, minta link Shopee kepada kami untuk transaksi yang lebih aman.</li> -->
										<li>Admin akan mengirimkan formulir yang perlu kamu isi dengan data untuk undangan digital.</li>
										<li>Undangan digital kamu akan kami kerjakan dengan lama proses sesuai antrean maksimal 3 hari setelah data lengkap.</li>
									</ul>									
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingFive">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								Apakah bisa direvisi?
								</button>
							</h2>
							<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<strong>Undangan Fisik</strong> dapat di revisi sebelum naik mesin percetakan, sementara <strong>Undangan Digital</strong> dapat kamu revisi sampai fix.							
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingSix">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								Apakah bisa pilih musik sesuai keinginan?
								</button>
							</h2>
							<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Tentu saja bisa, kamu bebas memilih musik yang kamu inginkan.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingSeven">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								Apa keuntungan order Undangan Fisik disini?
								</button>
							</h2>
							<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<ul>
										<li>Menggunakan printer khusus percetakan agar hasil memuaskan.</li>
										<li>Peta denah lokasi di bantu gambarkan oleh admin</li>
										<li>Gratis Plastik OOP.</li>
										<li>Gratis Kartu Ucapan Terima Kasih.</li>
										<li>Gratis Label Nama.</li>
										<li>Bisa order mulai dari 50 pcs saja.</li>
										<li>Gratis Undangan Digital untuk orderan di atas 300 pcs.</li>
										<li>Gratis Undangan Digital dan Buku Tamu untuk orderan di atas 500 pcs.</li>
										<li>Gratis Antar khusus wilayah kota Padang.</li>
									</ul>	
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingEight">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
									Apakah transaksi di sini aman?
								</button>
							</h2>
							<div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Tentu saja aman! Kami sangat menjaga kepercayaan dan keamanan setiap transaksi. Jika kamu masih merasa ragu, kamu bisa meminta link Shopee dari kami untuk melakukan pembayaran melalui platform yang kamu percaya.
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>

	<section class="services" id="services">
        <div class="container">
            <div class="row" data-aos="fade-down">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Add-Ons</h6>
                        <h4>Layanan Tambahan <em>Undangan Digital</em></h4>
                    </div>
                </div>
                <div class="col-lg-12" data-aos="fade-up">
                    <div style="max-width: 700px; margin: 0 auto">
						<div class="d-flex justify-content-between align-items-center fw-bold">
							<span>Layanan Kilat 24 Jam Selesai</span>
							<span class="dots"></span>
							<span>Rp. 50.000</span>
						</div>
						<div class="mb-3">Dikerjakan langsung maks. 1x24 jam</div>
						
						<div class="d-flex justify-content-between align-items-center fw-bold">
							<span>Tambah Masa Aktif</span>
							<span class="dots"></span>
							<span>Rp. 15.000</span>
						</div>
						<div class="mb-3">Penambahan masa aktif 30 hari</div>

						<div class="d-flex justify-content-between align-items-center fw-bold">
							<span>Custom Warna & Font</span>
							<span class="dots"></span>
							<span>Rp. 35.000</span>
						</div>
						<div class="mb-3">Perubahan meliputi merubah warna & jenis font</div>

						<div class="d-flex justify-content-between align-items-center fw-bold">
							<span>Tambahan Amplop Digital</span>
							<span class="dots"></span>
							<span>Rp. 10.000</span>
						</div>
						<div class="mb-3">Harga per 1 nomor rekening yang di tambahkan</div>

						<div class="d-flex justify-content-between align-items-center fw-bold">
							<span>Tambahan Foto Galeri</span>
							<span class="dots"></span>
							<span>Rp. 30.000</span>
						</div>
						<div class="mb-3">Maksimal dapat menambah 10 buah foto</div>

						<div class="d-flex justify-content-between align-items-center fw-bold">
							<span>Embed Video</span>
							<span class="dots"></span>
							<span>Rp. 40.000</span>
						</div>
						<div class="mb-3">Menambahkan 1 buah video untuk di tampilkan</div>

						<div class="d-flex justify-content-between align-items-center fw-bold">
							<span>Custom Domain</span>
							<span class="dots"></span>
							<span>Rp. 295.000</span>
						</div>
						<div class="mb-3">Bebas pilih nama domain <em>(ex: domainkamu.com)</em></div>
					</div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials" id="testimonials">
        <div class="container">
            <div class="row" data-aos="fade-down">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Testimoni</h6>
                        <h4>Apa pendapat <em>Mereka</em></h4>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
                        <div class="item">
                            <p class="font-secondary">“Thanks jasa undangan online nya.
                                Design undangannya bagus, overall mantapp !!
                                ”</p>
                            <h4>Apridestio Fajri</h4>
                            <span>Palembang</span>
                            <img src="<%= THIS %>/static/assets/site/images/quote.png" alt="">
                        </div>
                        <div class="item">
                            <p class="font-secondary">“Udah keliling kota padang tapi memang ini yang paling murah tapi bukan murahan. Terima kasih ya..”</p>
                            <h4>Rizky Ardiansyah</h4>
                            <span>Padang</span>
                            <img src="<%= THIS %>/static/assets/site/images/quote.png" alt="">
                        </div>
                        <div class="item">
                            <p class="font-secondary">“Adminnya fast respon banget, ramah lagi. Mau revisi berkali kali buat nurutin maunya akuuuu..”</p>
                            <h4>Tiara Putri</h4>
                            <span>Jambi</span>
                            <img src="<%= THIS %>/static/assets/site/images/quote.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partial/footer.ejs') %>

    <!-- Scripts -->
    <script src="<%= THIS %>/static/assets/site/bootstrap/js/bootstrap.min.js"></script>
    <script src="<%= THIS %>/static/assets/site/jquery/jquery.min.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/isotope.min.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/owl-carousel.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/custom.js"></script>
    <script src="<%= THIS %>/static/assets/site/js/typing.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
	<style>
		.dots {
			flex: 1;
            border-bottom-style: dotted;
			border-bottom-width: 2px;
			margin-left: 20px;
			margin-right: 20px;
			border-bottom-color: #FF407D;
        }
	</style>
</body>

</html>