<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-heading">
					<h4>Artikel Pilihan <em>Untukmu</em></h4>
				</div>
			</div>
			<div class="col-6 col-md-3"
				data-aos="zoom-in-up">
				<div class="card mb-3 border-0">
					<div class="row g-0">
						<div class="article-image h-100">
							<img src="<%= THIS %>/static/assets/img/blog/mengirim-undangan-dengan-sopan-dan-efektif.png"
								class="img-fluid rounded-3"
								alt="Article Image"
								style="object-fit: cover; width: 100%; height: 200px;">
						</div>
						<div class="card-body">
							<p class="mb-2 fs-8">13 November 2024 • 3 min read</p>
							<h6 class="card-title">
								<a href="<%= THIS %>/blog/cara-mengirim-undangan-digital-dengan-sopan"
									class="text-decoration-none fw-bold text-pink">Cara Mengirim Undangan Digital dengan Sopan dan Efektif</a>
							</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3"
				data-aos="zoom-in-up">
				<div class="card mb-3 border-0">
					<div class="row g-0">
						<div class="article-image h-100">
							<img src="<%= THIS %>/static/assets/img/blog/lagu-pilihan-undangan-digital-terpopuler.png"
								class="img-fluid rounded-3"
								alt="Article Image"
								style="object-fit: cover; width: 100%; height: 200px;">
						</div>
						<div class="card-body">
							<p class="mb-2 fs-8">12 November 2024 • 3 min read</p>
							<h6 class="card-title">
								<a href="<%= THIS %>/blog/rekomendasi-lagu-undangan-digital-pernikahan-menyentuh"
									class="text-decoration-none fw-bold text-pink">Dari Hati ke Hati: 10 Lagu
									Pilihan untuk Undangan Digital yang Menyentuh</a>
							</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3"
				data-aos="zoom-in-up">
				<div class="card mb-3 border-0">
					<div class="row g-0">
						<div class="article-image h-100">
							<img src="<%= THIS %>/static/assets/img/blog/rekomendasi-warna-undangan-digital-sempurna.png"
								class="img-fluid rounded-3"
								alt="Article Image"
								style="object-fit: cover; width: 100%; height: 200px;">
						</div>
						<div class="card-body">
							<p class="mb-2 fs-8">12 November 2024 • 4 min read</p>
							<h6 class="card-title">
								<a href="<%= THIS %>/blog/warna-undangan-digital-yang-sempurna-beserta-kode-warna"
									class="text-decoration-none fw-bold text-pink">Kombinasi Warna Undangan Digital yang Sempurna beserta Kode Warna</a>
							</h6>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>