<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible"
	content="IE=edge">
<link rel="icon"
	type="image/x-icon"
	href="https://cdn.dazelpro.com/uploads/dazelinv/favico.ico">
<title><%= title %></title>
<meta name="theme-color"
	content="#F8407D">
<meta name="viewport"
	content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="description"
	content="<%= desc %>" />
<meta name="keywords"
	content="<%= keyword %>" />
<meta name="author"
	content="dazelpro" />

<!-- SEO -->
<meta name="robots"
	content="index, follow">
<link rel="canonical"
	href="<%= THIS %>/blog/<%= SLUG %>">

<meta property="og:locale"
	content="id_ID">
<meta property="og:title"
	content="<%= title %>" />
<meta property="og:image"
	content="<%= THIS %><%= image %>" />
<meta property="og:url"
	content="<%= THIS %><%= THIS %>/blog/<%= SLUG %>" />
<meta property="og:site_name"
	content="Padang Invitation" />
<meta property="og:description"
	content="<%= desc %>" />

<meta name="twitter:title"
	content="<%= title %>" />
<meta name="twitter:image"
	content="<%= THIS %><%= image %>" />
<meta name="twitter:url"
	content="<%= THIS %>/blog/<%= SLUG %>" />
<meta name="twitter:description"
	content="<%= desc %>">
<meta name="twitter:card"
	content="<%= desc %>" />
