<!DOCTYPE html>
<html lang="id">

<head>
	<%- include('../partial/undangan-meta.ejs',
		{
			TITLE: "Prisma & Anggun"
			,
			DESC: "We are getting married, online invitation by Padang Invitation"
			,
			IMAGE: "https://cdn.dazelpro.com/uploads/dazelinv/gallery/65493_aoHlr].jpg"
			,
			FAVICON: "https://cdn.dazelpro.com/uploads/dazelinv/favicon.ico"
		})
	%>

	<!-- STYLING PROPERTY -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
		crossorigin="anonymous">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="<%= THIS %>/static/assets/css/lib/simplyCountdown.theme.default.css" />
	<link rel="stylesheet" href="<%= THIS %>/static/assets/css/lib/flexbin.css" />
	<link rel="stylesheet" href="<%= THIS %>/static/assets/css/lib/mklb.css" />
	<link rel="stylesheet" href="<%= THIS %>/static/assets/css/lib/snackbar.css" />
	<link rel="stylesheet" href="<%= THIS %>/static/assets/css/theme/odas.css">
	<link rel="stylesheet" href="<%= THIS %>/static/assets/css/typography.css">
	<link rel="stylesheet" href="<%= THIS %>/static/assets/css/spacing.css">
	<link rel="stylesheet" href="<%= THIS %>/static/assets/css/color.css">
	<!-- END -->
	<style>
		@media (min-width: 768px) { 
			/* Desktop */
			#cover {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://cdn.dazelpro.com/uploads/dazelinv/gallery/65493_nZhzT].jpg');
			}
		}

		@media (max-width: 767px) {
			/* Mobile */
			#cover {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://cdn.dazelpro.com/uploads/dazelinv/gallery/65493_nZhzT].jpg');
			}
		}

		@media (min-width: 768px) {
			.odas-header {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.dazelpro.com/uploads/dazelinv/gallery/65493_Ae2K15.jpg');
			}
		}

		@media (max-width: 767px) {
			.odas-header {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.dazelpro.com/uploads/dazelinv/gallery/65493_Ae2K15.jpg');
			}
		}
	</style>
</head>
<div class="snackbar" id="snackbar"></div>
<body>
	<div class="odas">
		<div id="cover" class="cover-overlay">
			<div class="content">
				<div class="div-top">
					<div class="font-primary fs-16 fw-300 mb-15 cl-white"
						data-aos="fade-down"
						data-aos-duration="1500">You
						are invited to our wedding
					</div>
					<h1 class="font-tertiary fs-40 fw-600 mb-10 cl-pink"
						data-aos="fade-up"
						data-aos-duration="1500">
						Arnold & Fitri
					</h1>
					<div class="font-primary fs-16 fw-300 mb-15 cl-white"
						data-aos="fade-down"
						data-aos-duration="1500">
						Sabtu, 23 November 2024
					</div>
				</div>
				<div class="div-bottom">
					<% if (GUEST_ID) { %>
						<div class="card-tamu">
							<div class="font-primary fs-10 fw-300 mb-15 cl-white">Kepada Yth.<br>Bapak/Ibu/Saudara/i</div>
							<div class="font-primary fs-18 fw-500 mb-15 cl-white"> <%= GUEST_NAME %><br></div>
							<div class="font-primary fs-10 fw-300  cl-white">di Tempat</div>
						</div>
					<% } %>
					<div class="pt-15">
						<button onclick="closeNav()"
							class="odas-btn btn-buka">Buka Undangan</button>
					</div>
				</div>
			</div>
		</div>
		<div class="odas-header" id="odas-header">
			<div class="content">
				<h1 class="font-tertiary fs-40 fw-600 mb-10 cl-white"
					data-aos="fade-up"
					data-aos-duration="1500">Arnold & Fitri</h1>
				<div class="font-secondary fs-22 fw-600 mb-15 cl-white"
					data-aos="fade-down"
					data-aos-duration="1500">We
					Are Getting Merried
				</div>
				<div class="timer"></div>
			</div>
		</div>
		<div class="container text-center"
			id="odas-couple">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="odas-couple pt-50">
						<h2 class="font-secondary fs-60 fw-600 mb-15 cl-pink"
							data-aos="fade-up"
							data-aos-duration="1500">Mempelai</h2>
						<p class="font-primary fs-14 fw-300"
							data-aos="fade-up"
							data-aos-duration="1500">Dan di antara
							tanda-tanda
							(kebesaran)-Nya ialah Dia
							menciptakan pasangan-pasangan
							untukmu dari jenismu sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan Dia
							menjadikan diantaramu rasa kasih dan sayang. Sungguh, pada yang demikian itu benar-benar
							terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir.<br>
							(Q.S. Ar-rum:21)</p>
						<div class="couple-wrap">
							<div class="couple-half"
								data-aos="fade-right"
								data-aos-duration="1500">
								<div class="groom">
									<img src="<%= THIS %>/static/assets/img/groom.jpg"
										alt="groom"
										class="img-responsive">
								</div>
								<div class="desc-groom">
									<h3 class="font-tertiary">Andra Ramadhan</h3>
									<p class="font-primary fw-300 fs-14">Putri dari Bpk Syarifudin & Ibu Neneng</p>
									<a class="couple-link"
										href="http://"
										target="_blank"
										rel="noopener noreferrer">
										<i class="fa-brands fa-instagram"></i>
									</a>
								</div>
							</div>
							<span class="heart text-center"><i class="fa-sharp fa-solid fa-heart"></i></span>
							<div class="couple-half"
								data-aos="fade-left"
								data-aos-duration="1500">
								<div class="bride">
									<img src="<%= THIS %>/static/assets/img/bride.jpg"
										alt="groom"
										class="img-responsive">
								</div>
								<div class="desc-bride">
									<h3 class="font-tertiary">Putri Herlina S</h3>
									<p class="font-primary fw-300 fs-14">Putri dari Bpk Amrin Syarif & Ibu Rini
										Asmara
									</p>
									<a class="couple-link"
										href="http://"
										target="_blank"
										rel="noopener noreferrer">
										<i class="fa-brands fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="odas-event"
			id="odas-event"
			style="background:linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../../static/assets/img/odas-bg-pattern.jpg);">
			<div class="container text-center">
				<div class="row justify-content-md-center">
					<div class="col-sm-12 mb-50">
						<div class="font-primary fs-14"
							data-aos="fade-up"
							data-aos-duration="1500">OUR SPECIAL EVENT
						</div>
						<h2 class="font-secondary fs-60 fw-600 cl-pink"
							data-aos="fade-down"
							data-aos-duration="1500">
							Wedding Event</h2>
					</div>
					<div class="col-sm-12 col-md-6 cl-white mb-15"
						data-aos="fade-left"
						data-aos-duration="1500">
						<div class="odas-card">
							<span class="odas-event-icon">
								<i class="fas fa-handshake"></i>
							</span>
							<h3 class="font-tertiary fw-600">Akad Nikah</h3>
							<hr>
							<p class="font-primary fw-300">Bertempat di:</p>
							<p class="font-primary fw-500">Masjid Al-Hikmah</p>
							<p class="font-primary fw-300">Komplek Perumahan Merpati Agung Blok B No. 3</p>
							<i class="fas fa-calendar-day"></i>
							<p class="font-primary fw-300">Sabtu, 21 Mei 2025</p>
							<i class="fas fa-clock"></i>
							<p class="font-primary fw-300">
								09:00 s/d Selesai
							</p>
							<a href="#" target="_blank" class="odas-btn btn-map">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map mb-5" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
									<path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
								</svg>
								Buka Map
							</a>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 cl-white mb-15"
						data-aos="fade-right"
						data-aos-duration="1500">
						<div class="odas-card">
							<span class="odas-event-icon">
								<i class="fas fa-glass-cheers"></i>
							</span>
							<h3 class="font-tertiary fw-600">Resepsi</h3>
							<hr>
							<p class="font-primary fw-300">Bertempat di:</p>
							<p class="font-primary fw-500">Kediaman Mempelai Wanita</p>
							<p class="font-primary fw-300">Komplek Perumahan Merpati Agung Blok B No. 3</p>
							<i class="fas fa-calendar-day"></i>
							<p class="font-primary fw-300">Sabtu, 21 Mei 2025</p>
							<i class="fas fa-clock"></i>
							<p class="font-primary fw-300">
								09:00 s/d Selesai
							</p>
							<a href="#" target="_blank" class="odas-btn btn-map">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map mb-5" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
									<path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
								</svg>
								Buka Map
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="odas-timeline">
			<div class="container">
				<div class="row">
					<div class="col-12 mb-50 text-center">
						<div class="font-primary fs-14"
							data-aos="fade-up"
							data-aos-duration="1500">WE LOVE EACH OTHER
						</div>
						<h2 class="font-secondary fs-60 fw-600 cl-pink"
							data-aos="fade-down"
							data-aos-duration="1500">
							Our Story</h2>
					</div>
					<div class="col-12">
						<ul class="timeline">
							<li data-aos="fade-up"
								data-aos-duration="1500">
								<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title font-tertiary">Kenalan</h4>
										<p><small class="text-muted font-primary">2021</small></p>
									</div>
									<div class="timeline-body font-primary fw-300">
										<p>
											Kisah kami berawal dari tahun ini, kami dipertemukan oleh sebuah
											organisasi
											kampus. Berkenalan, dan akhirnya saling bertukar sosmed.
										</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted"
								data-aos="fade-up"
								data-aos-duration="1500">
								<div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title font-tertiary">Jadian</h4>
										<p><small class="text-muted font-primary">2022</small></p>
									</div>
									<div class="timeline-body font-primary fw-300">
										<p>
											Setelah lama berteman, akhirnya kami jadian. Tepatnya pada tanggal 21
											Mei,
											ini merupakan hari terindah dimana dia mengucapkan isi hatinya
											bertepatan
											dengan hari ulang tahunku. Begitu indah kado yang dia berikan.
										</p>
									</div>
								</div>
							</li>
							<li data-aos="fade-up"
								data-aos-duration="1500">
								<div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title font-tertiary">Lamaran</h4>
										<p><small class="text-muted font-primary">2023</small></p>
									</div>
									<div class="timeline-body font-primary fw-300">
										<p>Tahun ini kami memutuskan untuk bertunangan. Membulatkan tekat, melangkah
											maju menemui petualangan baru.</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted"
								data-aos="fade-up"
								data-aos-duration="1500">
								<div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title font-tertiary">Menikah</h4>
										<p><small class="text-muted font-primary">2023</small></p>
									</div>
									<div class="timeline-body font-primary fw-300">
										<p>
											Kebahagian yang tak bisa ku ucapkan dengan kata-kata. Aku hanya
											berharap, ia
											dapat menjadi imam yang menuntunku menuju jalan Allah. Berjuang bersama
											menjalani ibadah terpanjang ini.
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="odas-galery"
			id="odas-gallery">
			<div class="container">
				<div class="row">
					<div class="col-12 mb-50 text-center">
						<div class="font-primary fs-14"
							data-aos="fade-up"
							data-aos-duration="1500">OUR MOMENTS</div>
						<h2 class="font-secondary fs-60 fw-600 cl-pink"
							data-aos="fade-down"
							data-aos-duration="1500">
							Wedding Gallery</h2>
					</div>
					<div class="col-md-12">
						<div class="flexbin flexbin-margin">
							<a href="javascript:void(0)"
								data-aos="flip-down"
								data-aos-duration="1500">
								<img class="mklbItem"
									src="<%= THIS %>/static/assets/img/gallery/1.jpg" />
							</a>
							<a href="javascript:void(0)"
								data-aos="flip-down"
								data-aos-duration="1500">
								<img class="mklbItem"
									src="<%= THIS %>/static/assets/img/gallery/2.jpg" />
							</a>
							<a href="javascript:void(0)"
								data-aos="flip-down"
								data-aos-duration="1500">
								<img class="mklbItem"
									src="<%= THIS %>/static/assets/img/gallery/3.jpg" />
							</a>
							<a href="javascript:void(0)"
								data-aos="flip-down"
								data-aos-duration="1500">
								<img class="mklbItem"
									src="<%= THIS %>/static/assets/img/gallery/4.jpg" />
							</a>
							<a href="javascript:void(0)"
								data-aos="flip-down"
								data-aos-duration="1500">
								<img class="mklbItem"
									src="<%= THIS %>/static/assets/img/gallery/5.jpg" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="odas-gift"
			id="odas-gift">
			<div class="container text-center">
				<div class="row justify-content-sm-center">
					<div class="col-12 mb-50 text-center">
						<h2 class="font-secondary fs-60 fw-600 cl-pink"
							data-aos="fade-down"
							data-aos-duration="1500">
							Wedding Gift</h2>
						<div class="font-primary fs-14 mw-600"
							data-aos="fade-up"
							data-aos-duration="1500">
							Doa restu Bapak/Ibu/Saudara/i merupakan karunia terindah bagi kami. Dan jika memberi
							adalah
							ungkapan tanda kasih, dengan senang hati kami menerima kado secara cashless melalui:
						</div>
					</div>
					<div class="col-sm-12 mb-15">
						<div class="card-bank bca"
							data-aos="flip-right"
							data-aos-duration="1500">
							<p class="text-end"><img src="<%= THIS %>/static/assets/img/bank/bca.png"
									alt=""></p>
							<div class="text-start font-primary fs-14 fw-300">a/n Andra Ramadhan</div>
							<p class="text-start font-primary fs-22">
								30.00340.00
							</p>
							<p class="text-start">
								<button class="odas-btn btn-salin" onclick="copyValue('30.00340.00')">
									<svg xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-clipboard-heart mb-5"
										viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Z" />
										<path
											d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z" />
										<path
											d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982Z" />
									</svg>
									Salin
								</button>
							</p>
						</div>
					</div>
					<div class="col-sm-12 mb-15">
						<div class="card-bank bsm"
							data-aos="flip-right"
							data-aos-duration="1500">
							<p class="text-end"><img src="<%= THIS %>/static/assets/img/bank/bsi.png"
									alt=""></p>
							<div class="text-start font-primary fs-14 fw-300">a/n Andra Ramadhan</div>
							<p class="text-start font-primary fs-22">
								30.00340.00
							</p>
							<p class="text-start">
								<button class="odas-btn btn-salin" onclick="copyValue('30.00340.00')">
									<svg xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-clipboard-heart mb-5"
										viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Z" />
										<path
											d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z" />
										<path
											d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982Z" />
									</svg>
									Salin
								</button>
							</p>
						</div>
					</div>
					<div class="col-sm-12 mb-15">
						<div class="card-bank bri"
							data-aos="flip-right"
							data-aos-duration="1500">
							<p class="text-end"><img src="<%= THIS %>/static/assets/img/bank/bri.png"
									alt=""></p>
							<div class="text-start font-primary fs-14 fw-300 cl-white">a/n Andra Ramadhan</div>
							<p class="text-start font-primary fs-22 cl-white">
								30.00340.00
							</p>
							<p class="text-start">
								<button class="odas-btn btn-salin" onclick="copyValue('30.00340.00')">
									<svg xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-clipboard-heart mb-5"
										viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Z" />
										<path
											d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z" />
										<path
											d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982Z" />
									</svg>
									Salin
								</button>
							</p>
						</div>
					</div>
					<div class="col-sm-12 mb-15">
						<div class="card-bank addrs"
							data-aos="flip-left"
							data-aos-duration="1500">
							<div class="d-flex justify-content-between">
								<p class="font-primary fs-18">Alamat Pengiriman Kado</p>
								<svg xmlns="http://www.w3.org/2000/svg"
									width="60"
									height="60"
									fill="currentColor"
									class="bi bi-house-heart"
									viewBox="0 0 16 16">
									<path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z" />
									<path
										d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
								</svg>
							</div>
							<div class="text-start font-primary fs-16">a/n Andra Ramadhan</div>
							<p class="text-start font-primary fs-14 fw-300">
								Komplek Perumahan Merpati Agung Blok B No. 3 Kel. Delima Kec. Binawidya Kota Pekanbaru -
								Riau
							</p>
							<p class="text-start">
								<button class="odas-btn btn-salin"
									onclick="copyValue('Komplek Perumahan Merpati Agung Blok B No. 3 Kel. Delima Kec. Binawidya Kota Pekanbaru - Riau')">
									<svg xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-clipboard-heart mb-5"
										viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Z" />
										<path
											d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z" />
										<path
											d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982Z" />
									</svg>
									Salin
								</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="odas-event"
			id="odas-chat"
			style="background:linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../../static/assets/img/odas-bg-pattern.jpg);">
			<div class="container text-center">
				<div class="row justify-content-sm-center">
					<div class="col-sm-12 mb-50">
						<h2 class="font-secondary fs-60 fw-600 cl-pink"
							data-aos="fade-down"
							data-aos-duration="1500">
							Wish for us</h2>
						<div class="font-primary fs-14 fw-400 mw-600"
							data-aos="fade-up"
							data-aos-duration="1500">
							Tulis semua harapan dan do'a terbaikmu untuk kedua mempelai di hari bahagia mereka.
						</div>
					</div>
					<div class="col-sm-12"
						data-aos="flip-left"
						data-aos-duration="1500">
						
						<div class="form-floating mb-3">
							<input type="email"
								class="form-control"
								id="nama-tamu"
								value="<%= GUEST_NAME %>"
								placeholder="name@example.com">
							<label for="nama-tamu">Nama</label>
						</div>
					</div>
					<div class="col-sm-12"
						data-aos="flip-left"
						data-aos-duration="1500">
						<div class="form-floating mb-3">
							<textarea class="form-control"
								placeholder="Leave a comment here"
								id="msg-tamu"
								style="height: 200px"></textarea>
							<label for="msg-tamu">Ucapan untuk Mempelai</label>
						</div>
					</div>
					<div class="col-sm-12 mb-100"
						data-aos="flip-left"
						data-aos-duration="1500">
						<button id="btn-kirim" onclick="sendGretting()" class="odas-btn btn-kirim">
							<svg xmlns="http://www.w3.org/2000/svg"
								width="20"
								height="20"
								fill="currentColor"
								class="bi bi-chat-heart-fill mb-5"
								viewBox="0 0 16 16">
								<path
									d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15Zm0-9.007c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
							</svg>
							Kirim
						</button>
						<button id="btn-kirim-disable" class="btn-kirim-disable">
							<div class="spinner-border" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</button>
					</div>
					<div id="section-msg">
						<div class="mb-22">
							<div class="font-secondary fs-44 fw-600 cl-pink mw-600"
								data-aos="fade-up"
								data-aos-duration="1500">
								Harapan & do'a
							</div>
						</div>
						<div class="col-sm-12 mb-50">
							<div class="msg-area"
								data-aos="fade-down"
								data-aos-duration="1500">
								<div id="msg-area"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% if (GUEST_ID) { %>
			<div class="odas-attending">
				<div class="container text-center">
					<div class="row justify-content-sm-center">
						<div class="col-12 mb-50 text-center">
							<h2 class="font-secondary fs-60 fw-600 cl-pink"
								data-aos="fade-down"
								data-aos-duration="1500">
								Are you attending?</h2>
							<div class="font-primary fs-14 mw-600"
								data-aos="fade-up"
								data-aos-duration="1500">
								Merupakan sebuah kebahagiaan untuk kami jika kamu berkenan hadir. Silahkan konfirmasi
								lewat
								tombol dibawah ini. Terima kasih.
							</div>
						</div>
						<% if (!GUEST_STATUS_CONFIRM) { %>
							<div class="col-sm-12">
								<button class="odas-btn btn-kirim"
									id="btn-confirm"
									data-bs-toggle="modal"
									data-bs-target="#exampleModal">Konfirmasi Kehadiran</button>
								<button class="odas-btn btn-kirim" id="btn-confirm-disable">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
										<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
									</svg>
									Terima kasih sudah konfirmasi
								</button>
							</div>
						<% } else { %>
							<div class="col-sm-12">
								<button class="odas-btn btn-kirim">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
										<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
									</svg>
									Terima kasih sudah konfirmasi
								</button>
							</div>
						<% } %>
					</div>
				</div>
			</div>
		<% } %>
		<div class="odas-footer">
			<div class="container text-center">
				<div class="row justify-content-sm-center">
					<div class="col-12 text-center">
						<div class="font-primary fs-14">
							E-Invitation
						</div>
						<div class="font-primary fs-12 fw-300">
							Handcrafted results with ❤ somewhere in the world.<br>
							Powered by
						</div>
						<div class="font-primary fs-12 fw-300">
							<a href="<%= THIS %>"
								target="_blank"
								rel="noopener noreferrer">www.dazelinv.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Menu -->
	<div class="menu">
		<div class="wrapper">
			<div class="item">
				<svg xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					fill="currentColor"
					onclick="scrollToElement('odas-couple')"
					class="bi bi-arrow-through-heart"
					viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z" />
				</svg>
			</div>
			<div class="item">
				<svg xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					fill="currentColor"
					onclick="scrollToElement('odas-event')"
					class="bi bi-calendar2-heart"
					viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3Zm2 .5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V4a.5.5 0 0 0-.5-.5H3Zm5 4.493c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
				</svg>
			</div>
			<div class="item">
				<svg xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					fill="currentColor"
					onclick="scrollToElement('odas-gallery')"
					class="bi bi-images"
					viewBox="0 0 16 16">
					<path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
					<path
						d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z" />
				</svg>
			</div>
			<div class="item">
				<svg xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					fill="currentColor"
					onclick="scrollToElement('odas-gift')"
					class="bi bi-gift"
					viewBox="0 0 16 16">
					<path
						d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
				</svg>
			</div>
			<div class="item">
				<svg xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					fill="currentColor"
					onclick="scrollToElement('odas-chat')"
					class="bi bi-chat-heart"
					viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M2.965 12.695a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2Zm-.8 3.108.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125ZM8 5.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
				</svg>
			</div>
		</div>
	</div>
	<!-- End -->
	<!-- Audio -->
	<audio src="https://cdn.dazelpro.com/uploads/dazelinv/audio/BxRKnjngjrgqYAtfdwn9Ua01I9EhpcAz.mp3"></audio>
	<div class="play-stop">
		<div id="btn-play">
			<svg onclick="stopMusic()"
				xmlns="http://www.w3.org/2000/svg"
				width="20"
				height="20"
				fill="currentColor"
				class="bi bi-volume-up"
				viewBox="0 0 16 16">
				<path
					d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z" />
				<path
					d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z" />
				<path
					d="M10.025 8a4.486 4.486 0 0 1-1.318 3.182L8 10.475A3.489 3.489 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.486 4.486 0 0 1 10.025 8zM7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12V4zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11z" />
			</svg>
		</div>
		<div id="btn-stop">
			<svg onclick="playMusic()"
				xmlns="http://www.w3.org/2000/svg"
				width="20"
				height="20"
				fill="currentColor"
				class="bi bi-volume-mute"
				viewBox="0 0 16 16">
				<path
					d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zM6 5.04 4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96V5.04zm7.854.606a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z" />
			</svg>
		</div>
	</div>
	<!-- End -->
	<!-- Modal Konfirmasi -->
	<div class="modal fade"
		id="exampleModal"
		tabindex="-1"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="font-primary fs-18"
						id="exampleModalLabel">Konfirmasi Kehadiran</h1>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<div class="btn-group" style="width: 100%;" role="group" aria-label="Basic radio toggle button group">
							<input type="radio" class="btn-check" name="confirm" id="btnradio1" value="HADIR" autocomplete="off" checked>
							<label class="btn btn-outline-primary" for="btnradio1">Hadir</label>
						  
							<input type="radio" class="btn-check" name="confirm" id="btnradio2" value="TIDAK HADIR" autocomplete="off">
							<label class="btn btn-outline-primary" for="btnradio2">Tidak Hadir</label>
						</div>
					</div>
					<div class="form-floating mb-3">
						<input type="number"
							class="form-control"
							id="jml-tamu"
							placeholder="0">
						<label for="jml-tamu">Jumlah Tamu</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button"
						class="odas-btn btn-tutup"
						data-bs-dismiss="modal">Tutup</button>
					<button type="button"
						class="odas-btn btn-confirm"
						data-bs-dismiss="modal" onclick="sendConfirm()">Konfirmasi</button>
				</div>
			</div>
		</div>
	</div>

	<input type="hidden" id="id_tamu" value="<%= GUEST_ID %>">
	<input type="hidden" id="event_date_count" value="<%= TIMER %>">
	<input type="hidden" id="slug" value="<%= SLUG %>">
	<input type="hidden" id="url_api" value="<%= THIS_API %>">
	<!-- End -->
	<!-- SCRIPT PROPERTY -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="<%= THIS %>/static/assets/js/lib/simplyCountdown.min.js"></script>
	<script src="<%= THIS %>/static/assets/js/lib/mklb.js"></script>
	<script src="<%= THIS %>/static/assets/js/odas.js"></script>
	<script>
		let dateEvent = document.getElementById('event_date_count').value;
		AOS.init();
		
		const currentDate = new Date();
		const eventDate = new Date(dateEvent);

		if (currentDate.toDateString() === eventDate.toDateString()) {
			// Acara sedang berlangsung
			document.querySelector('.timer').style.display = 'none';
			document.querySelector('.on-hold').style.display = 'block';
		} else if (currentDate > eventDate) {
			// Acara sudah berakhir
			document.querySelector('.timer').style.display = 'none';
			document.querySelector('.on-finish').style.display = 'block';
		} else {
			// Tampilkan timer countdown
			simplyCountdown(".timer", {
				year: eventDate.getFullYear(),
				month: eventDate.getMonth() + 1,
				day: eventDate.getDate() + 1
			});
		}
	</script>
	<!-- END -->
</body>

</html>
